<style>
<!--
-->
.a-f{
color:#ffffff;
text-decoration: none;
}

 a#a1,a#a2,a#a3,a#a41 {
     text-decoration: none ;
     color:white;
  }
a#a1:hover,a#a2:hover,a#a3:hover,a#a41:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
   }
   
   a#a1:visited,a#a2:visited,a#a3:visited,a#a41:visited {
   color:white;
    text-decoration:none;
    cursor:pointer;
   }
   a.#a1:active {
 color:white;
  text-decoration:none;
}

</style>
      <div class="container-fluid " style= " background: #000000;  color:#ffffff ">
      <div class="row"> 
      <div  class="col-md-12" style="height: 50px">
      
      </div>
      </div>
      <div class="row-fluid" >
       
      <div class="col-md-3 text-center">
     <p>Address </p>
<p>Ameerpet</p> 

<p>Hyderabad</p> 

<p>500016</p> 
      
      </div>
      <div class="col-md-3 text-center">
      
      <p> Get In Touch</p>
      <p>  Tel: +91 949 408 7665<br/>
Cel: +91 819 084 3241<br/>
Email: sureshbabuk782@gmail.com</p>
      </div>
      
      <div class="col-md-3 text-center">
      <div class="list-group-item" style=" background-color: #000; border: none; color:#fff;">
      <p class="list-group-item-heading">Recommended</p>
     <p> <a class="list-group-item-text" id="a1" href="https://sureshkunkutech.blogspot.in/" target="_balnk">Latest Materials</a></p> 
      <p> <a class="list-group-item-text" id="a2" href="https://sureshkunkutech.blogspot.in/p/inoracle-ora-00942-table-or-viewdoes.html" target="_balnk">Real time errors</a></p>
       <p> <a class="list-group-item-text" id="a3" href="https://diyaonlinetraining.blogspot.in/" target="_balnk">Hadoop questions</a> </p>
         <a class="list-group-item-text" id="a41" href="https://sureshkunkutech.blogspot.in/" target="_balnk">Interview Questions</a>
      </div>
      
      </div>
      
      </div>
      </div>