
<div class="row">
<div class="panel panel-default">
    <div class="panel-heading">COURSES</div>
    </div>
</div>
<div class="row">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Big Data</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse">
				<ul class="list-group">

					<li class="list-group-item">

						<a href="hadoop.html">Hadoop</a>



						<li class="list-group-item">
							<a href="hadoop_admin.html">Hadoop Admin</a>
						</li>

						<li class="list-group-item">
							<a href="Hadoop_developer.html">Hadoop Development</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">JAVA/J2EE</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse ">
					<ul class="list-group">
						<li class="list-group-item">
							<a href="java.html">JAVA</a>
						</li>
						<li class="list-group-item">

							<a href="core_java.html">Core Java</a>
						</li>

						<li class="list-group-item">

							<a href="adj_java.html">J2EE</a>
						</li>
						<li class="list-group-item">

							<a href="frame_work.html">Frame Works</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Salesforce</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse ">
					<ul class="list-group">
						<li class="list-group-item">
							<a href="salesforce.html">Salesforce Training</a>
						</li>
						<li class="list-group-item">
							<span class="text-primary"/>
							<a href="salesforce_admin.html">Salesforce Admin</a>
						</li>

						<li class="list-group-item">
							<span class="text-primary"/>
							<a href="salesforce_dev.html">Salesforce Development</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapsFive">Oracle</a>
					</h4>
				</div>
				<div id="collapsFive" class="panel-collapse collapse ">
					<ul class="list-group">
						<li class="list-group-item">
							<a href="oracle.html">Oracle Training</a>
						</li>
						<li class="list-group-item">
							<a href="sql.html">SQL</a>
						</li>

						<li class="list-group-item">
							<span class="text-primary"/>
							<a href="plsql.html">PLSQL</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapsSix">Web Tools</a>
					</h4>
				</div>
				<div id="collapsSix" class="panel-collapse collapse ">
					<ul class="list-group">
						<li class="list-group-item">
							<a href="web_design.html">Web Designing</a>
						</li>
						<li class="list-group-item">
							<span class="text-primary"/>
							<a href="html.html">HTML/CSS</a>
						</li>

						<li class="list-group-item">
							<span class="text-primary"/>
							<a href="java_script.html">JavaScript</a>
						</li>
						<li class="list-group-item">
							<span class="text-primary"/>
							<a href="jquery.html">Jquery</a>
						</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="unix.html">Unix</a>
						</h4>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="shell.html">Shell Scripting</a>
						</h4>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="web_services.html">Web Services</a>
						</h4>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="informtica.html">Informatica</a>
						</h4>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="live_project.html">Live Projects</a>
						</h4>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="website_design.html">Website Design</a>
						</h4>
					</div>
				</div>
			</div>
			 </div>
			 <div class="row">
			
			 </div>
			 
			 <div class="row">
			 <div class="panel panel-default">
    <div class="panel-heading">PROJECT SUPPORT</div>
    <div class="panel-body">
    <p>If need any one project support on above technologies,Please contact with the same
Whatsapp :+91 9494087665
Mail: sureshbabuk782@gmail.com</p>
    </div>
  </div>
			 </div>
			 
		<div class="row">	 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
      WEBSITE DESIGN
      </h4>
   </div>
    
      <div class="panel-body"><p>We will design new Websites according to customer requirements and will deliver with in the 4 weeks, Please contact with the same <br>
      Whatsapp :+91 9494087665 <br>
Mail: sureshbabuk782@gmail.com</p></div>
 
</div>
</div>
			 
			 <div class="row">	 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
      LIVE PROJECT
      </h4>
   </div>
    
      <div class="panel-body"><p>We will provide the live project to resources and we give chance them to work or resolve small kind of bugs to get hands on experience , Please contact with the same. 
<br> whatsapp :+91 9494087665 <br>
Mail: sureshbabuk782@gmail.com</p></div>
 
</div>
</div>