<style>
.iconl {
	
    color: #3BB9FF;
    font-size: 150px;
}
</style>

<div class="container-fluid">
<div class="row-fluid text-center">
<h2>About Us</h2>

</div>


 <div class="panel panel-info">
 <div class="panel-body">
 <div  class="row-fluid text-center" >
<div class="col-md-3"  >
 <span class="glyphicon glyphicon-globe iconl "  id ="logo1"></span>
</div>
<div class="col-md-9 text-left">
<p><strong>NextGen4IT</strong>  training is a leading online training, consultancy and development organization offering state-of-the-art placement oriented courses.

The perfect blend of people, vision and technology can result in innovative solutions.

The range of functional experience and skill sets provide any company the right foundation to explore the realms of emerging technologies and to develop solutions for the future.

The company is promoted and led by a team of real time professionals.

The company offers MNC environment, working in real time environment with real time live projects. </p>
</div>
</div>
</div>
 </div>

 <div class="panel panel-info">
 <div class="panel-body">
<div  class="row-fluid text-center" >

<div class="col-md-9 text-left">
<p>Our trainers are specially recruited from IT majors with hands on experience.

Our course curriculum also contains interview handling techniques and exclusive assessments on industry oriented awareness programs by domain and technical experts.

We maintain blogs for the same, materials, interview questions for fresher's, experienced and job openings. We also support freelancing for corporate trainings. We have real time experienced trainers for end to end technical or domain level trainings.

Once resource completes the training, there will be an opportunity to work in real time live projects and more than 5 referrals to top MNC's.

Our training division is supported by the referral cell, which helps the candidates to attend interviews in IT majors and become successful. </p>
</div>
<div class="col-md-3"  >

<span class="fa fa-desktop iconl "  id ="logo1"></span>
 </div></div>

</div>
</div>

</div>