
<div class="container ">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="resources\images\corporateTraining1.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="resources\images\corporateTraining1.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="resources\images\corporateTraining1.jpg" style="" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>	
 
</div>
<div class="panel">
<div class="panel-heading text-center">
<h2>Corporate Training</h2>
</div>
<div class="panel-body">

<p> Corporate Software Training is an execution of improving the existing skill or new skill cross training in order to make them proficient of handling latest business competitions by improving their approach and productivity. That the same time company have benefit making effective utilization of resources.  So we are offering the freelancer trainer to all kind of corporate companies (Start up to Level 5) with more resources and less budget.<br>

Our trainers are the real time software employees with end to end function and technical knowledge. We have provide the end to end documents materials for all courses as part of the trainings.<br>

                And our trainer will explain the real time scenarios with how to debug new skill technologies.<br>

Corporate Companies can just keep themselves confident once they come into the contract with corporate training with Diya Online training, as we deliver only such trainers who can improve the efficiency and quality in your workstation for handling latest business competitions in a proficient way, our team mainly concentrates in improving the approach of logistics and in turn making the graph of productivity of the corporate to be linear in profits. <br>

Our team is well mentored in our research training division to deliver the required standards by improving the approach and productivity of your human resource, and helps your resource management divisions to make use of your human resources effectively in critical times.<br>

Diya Online Trainings can tailor its training methods as per the demands of the Corporate Companies and we can customize our schedules as to your demands that arise from time to time, we always believe in making business through relations hence we always try to fit our corporate training methods to basket to your budget with reasonable price tags</p>
</div>
</div>
