<div class="container-fluid text-center">
<div class="row">
<div class="panel">
<div class="panel-heading"><h2>We Specialize in</h2></div>
  <div class="panel-body">
  <p>Welcome at Next Gen 4 IT Online Trainings, We provide expert in begin and advances versions and we provide everything documents as part of courses and we will a chance to work on real time code after completion of course.</p>
  </div>
</div>
</div>

</div>

<div class="container-fluid text-center">
<h2> Our Providing Services</h2>
<h4> Training and Development </h4>
<div class="row"> 


<div class="col-sm-4">
<span class="glyphicon glyphicon-cloud"></span>
      <h4>Online Training</h4>
      <p>We are providing all software courses through online like Skype or goto meeting or Google hangout..... </p>
	  <input type ="button" value="more" ></input>
</div>
<div class="col-sm-4">
<span class="glyphicon glyphicon-cloud"></span>
      <h4>Corporate Training</h4>
      <p>We are providing freelancer trainer to train corporate level resources at company level with real time experiences..... </p>
	  <input type ="button" value="more" ></input>
</div>
<div class="col-sm-4">
<span class="glyphicon glyphicon-cloud"></span>
      <h4>Home Based Training</h4>
      <p> our trainers are flexible to train the resources at their homes also, If the resources are busy with their task..... </p>
	  <input type ="button" value="more" ></input>
</div>
</div>

<div class="row"> 
<br>
</div>

<div class="row"> 


<div class="col-sm-4">
<span class="glyphicon glyphicon-cloud"></span>
      <h4>Project Support</h4>
      <p>We will give the project supports to who are all suffering the new code in real time. We will provide the guidelines and will support the resources to handle the scenarios ..... </p>
	  <input type ="button" value="more" ></input>
</div>
<div class="col-sm-4">
<span class="glyphicon glyphicon-cloud"></span>
      <h4>Live Project</h4>
      <p>We are offering live project to resource to get the hands on experience on code level. We also provide end to end application usage to gain more practical functional knowledge. We will provide same materials also. ..... </p>
	  <input type ="button" value="more" ></input>
</div>
<div class="col-sm-4">
<span class="glyphicon glyphicon-cloud"></span>
      <h4>Website Design</h4>
      <p> We will design the website and will deliver the total website within the four week of time with customer requirement. Any kind of applications likes education, institutes, ecommerce, etc..... </p>
	  <input type ="button" value="more" ></input>
</div>
</div>

<div class="row"> 
<br>
</div>

<div class="row"> 


<div class="col-sm-4">
<span class="glyphicon glyphicon-cloud"></span>
      <h4>IT Company Refferals</h4>
      <p>Who are all done courses as part of institute will provide the five multinational company referrals. And will give the guideline to handle the interview for fresher as well as experiences ..... </p>
	  <input type ="button" value="more" ></input>
</div>
</div>


</div>z
