<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12">
      <h2 calss ="trng-cont">Online Training</h2>
	  <p> Online training is known to be called as CBT (Computer based Training) Online Training is a Software-based teaching program installed on computer network or a computer.  Classes will be conducted through Skype / GoToMeeting/ hangout or any tool which is currently available in market for screen sharing options. Sessions will be recorded and shared with resources post training for future references. </p>
    
	  </div>
	  
	  
	  </div>
	  <div class ="row"> <br> <br></div>
	  <div class ="row">
	    <h4>We offer two streams of content for Online Trainings in ALL Courses</h4> 
	  <br>
	  </div>
	  <div class="row" >
	   <div class=" media">
	  <div class ="col-md-6">
	 
	  <div class=" media-body ">
	  <h4 class="media-heading">For experienced IT professionals</h4>

<p>Our aim is to update knowledge of the existing IT professionals interested to gain more professional knowledge on new technologies with advanced versions.
As part of training we provide the course materials and real time code issues. Assessments and mock interviews will be conducted for advanced version topics to be confident in cross training skills. </p>
</div>
</div>

<div class="col-md-6">
 <div class="media-left">
 <img src="resources/images/onlineTrainProf.png"  class="media-object"    style="height:250px ; width:350px" >

 </div>
 </div>
 </div>
 </div>
 
 
   <div class ="row"> <br> <br></div>
	  <div class="row" >
	   <div class=" media">


<div class="col-md-4">
 <div class="media-left">
 <img src="resources/images/onlineTrainFresh.jpg"  class="media-object"  style="width:360px" >

 </div>
 </div>
 
 
 
 	  <div class ="col-md-8">
	 
	  <div class=" media-body ">
	  <h4 class="media-heading"> For freshers</h4>

<p>
Intended to teach the required skills to  fresher’s, where in the focus shall begin with building a strong understanding of the basics of technology and end to end technical knowledge with a complete guidance on its latest trends.
As part of course we provide materials and programs to handle real time scenarios. Post training we conduct mock interviews to handle the real interviews.  We provide guidelines, interview tips and CRT class topic to handle the OFF and ON campus interviews.
In our institute, we have all related IT courses materials and downloading them is free of cost.
We maintain blog for fresher’s as well as experienced with all kind of interview questions and some real time issue snap shots with clear explanation to solve them. </p>
</div>
</div>


 </div>
 </div>
 
</div>