<style>
<!--

-->
.s-logo-l {
 color: #3BB9FF;
    font-size: 150px;
}

.s-logo-m {
 color: #3BB9FF;
    font-size: 100px;
}
body {
    color: black;
}
.s-logo-mm {
 color: #3BB9FF;
    font-size: 40px;
}

</style>
<div class="container-fluid">
	<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu text-center ">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center;" id="1">
                 <span class="fa fa-laptop s-logo-mm"></span><br/>Online Training
                </a>
                <a href="#corpT" class="list-group-item text-center;" name="2" id="2" >
               <span class="fa fa-users s-logo-mm"></span>   <br/>Corporate Training
                </a>
                <a href="#homeT" class="list-group-item text-center;" name="3" id="3">
              <span class="glyphicon glyphicon-home s-logo-mm"></span> <br/>Home Training
                </a>
                <a href="#projectS" class="list-group-item text-center;" id="4">
                  <span class="fa fa-life-ring s-logo-mm"></span>  <br/>Project Support
                </a>
                <a href="#webdesign" class="list-group-item text-center;" id="5">
                <span class="fa fa-cog s-logo-mm"></span>   <br/>Website Design
                </a>
				<a href="#liveProject" class="list-group-item text-center;" id= "6">
                 <span class="fa fa-user-circle-o s-logo-mm"></span>   <br/>Live Projects 
                </a>
				 <a href="#jobCon" class="list-group-item text-center;" id ="7">
                 <span class="fa fa-handshake-o s-logo-mm"></span> <br/>Job Consulting
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
            
            
                <!-- flight section -->
                <div class="bhoechie-tab-content active text-center">
               <div class="panel">
               <div  class="panel-headder text-center">
               <span class="fa fa-laptop s-logo-l"  style="padding-bottom: 0px"></span> 
            <p style="font-size:30px; padding-left: 12px; padding-bottom : 0px;  color:#000000"> 
             <b> Online Training </b> </p>
            <p style="font-size: 15px; color:#000000">
          We offer two streams of content for Online Training in ALL Courses</p>	  
               
               
             
               </div>
               <div class="panel-body text-left">
               <div class="row-fluid text-center">
               
               </div>
               <div class="row-fluid">
               <div class="col-md-2 text-center s-logo-m">
                <span class="fa fa-users"></span>
               </div>
              
               
               <div class="col-md-10"> <p style=" color:#000000">
            <strong>  For experienced IT professionals: </strong>  <br>
Our aim is to update knowledge of the existing IT professionals interested to gain more professional knowledge on new technologies with advanced versions.
As part of training we provide the course materials and real time code issues. Assessments and mock interviews will be conducted for advanced version topics to be confident in cross training skills.
               </p>
               </div>
               </div>
                <div class="row-fluid" >
                <div class="col-md-12">   <br> <br></div>
               </div>
              
               <div class="row-fluid">
               <div class="col-md-10 text-left"> <p style="color:#000000">
             <strong>  For freshers :</strong><br>

Intended to teach the required skills to  freshers, where in the focus shall begin with building a strong understanding of the basics of technology and end to end technical knowledge with a complete guidance on its latest trends.

As part of course we provide materials and programs to handle real time scenarios. Post training we conduct mock interviews to handle the real interviews.  We provide guidelines, interview tips and CRT class topic to handle the OFF and ON campus interviews.

In our institute, we have all related IT courses materials and downloading them is free of cost.
We maintain blog for fresher's as well as experienced with all kind of interview questions and some real time issue snap shots with clear explanation to solve them.
</p>
               </div>
               <div class="col-md-2 text-center s-logo-m" style="font-size:150px">
               <span ><i class="fa fa-user" aria-hidden="true"  style="padding-top: 30px" ></i>
               </span>
               </div>
               
               </div>
               <div class="row-fluid">
               <div class="col-md-12"><br>
               <p>  Online training is known to be called as CBT (Computer based Training) Online Training is a Software-based teaching program installed on computer network or a computer.  Classes will be conducted through Skype / GoToMeeting/ hangout or any tool which is currently available in market for screen sharing options. Sessions will be recorded and shared with resources post training for future references.</p>
               </div>
               </div>
               </div>
               </div>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <div class="panel">
                    <div  class="panel-headder text-center">
                    <span class="fa fa-users s-logo-l"></span>
                    <P style="font-size:30px"> <b>Corporate Training </b></P>
                    </div>
                    <div class="panel-body">
                    <p><span style="padding-right: 50px"></span>
                    Corporate Software Training is an execution of improving the existing skill or new skill cross 
                    training in order to make them proficient of handling latest business competitions by improving their
                     approach and productivity. That the same time company have benefit making effective utilization of
                      resources.  So we are offering the freelancer trainer to all kind of corporate companies
                       (Start up to Level 5) with more resources and less budget. <br>
<span style="padding-right: 50px"></span>
Our trainers are the real time software employees with end to end function and technical knowledge. We have provide the
 end to end documents materials for all courses as part of the training.

                And our trainer will explain the real time scenarios with how to debug new skill technologies.<br>
   <span style="padding-right: 50px"></span>             

Corporate Companies can just keep themselves confident once they come into the contract with corporate training with
 Nextgen4IT Online training, as we deliver only such trainers who can improve the efficiency and quality in your workstation
  for handling latest business competitions in a proficient way, our team mainly concentrates in improving the approach
   of logistics and in turn making the graph of productivity of the corporate to be linear in profits.

Our team is well mentored in our research training division to deliver the required standards by improving the approach 
and productivity of your human resource, and helps your resource management divisions to make use of your human 
resources effectively in critical times. <br>

   <span style="padding-right: 50px"></span> 
Nextgen4IT Online Training can tailor its training methods as per the demands of the Corporate Companies and we can customize our schedules as to your demands that arise from time to time, we always believe in making business through relations hence we always try to fit our corporate training methods to basket to your budget with reasonable price tags.
                    </p>
                    
                    </div>
                    
                    </div>
                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                  <div  class="panel">
                  <div class="panel-body text-center">
                  <span class="glyphicon glyphicon-home" style="font-size:12em;color:#3BB9FF"></span>
                  <p style="font-size:30px"> <b>Home Training</b></p>
                  </div>
                  <div class="panel-body">
                  
                  <p> <span style="padding-right: 60px"></span> 
   Our trainer is flexible to train individual or group of resources at their door step.

As part of the course our institute will provide access to the resources for materials and Blog.
Assessments and mock interviews will be conducted to improve the resources knowledge.

Guild lines to handle the interviews, interview questions and interview process company wise with trained skill will be given</p>
                  
                  </div>
                  </div>
                </div>
                <div class="bhoechie-tab-content">
                    <div class="panel">
                    <div class="panel-headder text-center">
                    <span class="fa fa-life-ring s-logo-l"></span>
                    <p style="font-size:30px"> Project Support</p>
                    </div>
                    <div class="panel-body">
                    <p>  <span style="padding-right: 60px"></span> 
                    Our trainers are currently working in MNC’s with hands on experience in development and support roles, they identify any kind of issue in code and fix those issues efficiently.

We assist all new joiners or resources who are new to code (like crossed trained guys) understand real time examples, work flow, logic to analyze, debug and resolve the code issues. We give technical level as well as domain level support.

Our trainers will assist resources in code level with logics and tips to resolve the issues.
                    </p>
                    
                    </div>
                    
                    </div>
                </div>
                <div class="bhoechie-tab-content">
                   <div class="panel">
               <div  class="panel-headder text-center">
               <span class="fa  fa-cogs  s-logo-l" > </span>
               <p style="font-size:30px"> <b>Website design </b></p>
               </div>
               <div class="panel-body text-left">
               <div class="row-fluid text-center">
                
               </div>
               We will design the website and will deliver the total website within the four week of time with customer requirement. Any kind of applications likes education, institutes, ecommerce … etc …
              We will deliver the website with end to end applications explain to handle the future medication without any one help easily.
             And we will provide the one year’s free support for our delivered websites. And will provide the support for other websites also we are not delivered by our company.
               </div>
               </div>
                </div>
                <!-- live projects -->
                  <div class="bhoechie-tab-content">
                   <div class="panel">
               <div  class="panel-headder text-center">
               <span class="fa fa-user-circle-o  s-logo-l" > </span>
               <p style="font-size:30px"> <b>Live Projects </b></p>
               <div class="text-left">
               <p>We are offer live projects to resources to understand the real time code and flow and to get hands on experience.

We offer two streams of content for NextGen4IT Online Training in live projects
               </p></div>
               </div>
               <div class="panel-body text-left">
               <div class="row-fluid text-center">
                
               </div><p><span style="padding-right: 60px"></span> 
             
            <strong>For experienced IT professionals : </strong> <br>
Our aim is to update knowledge of the existing IT professionals interested to gain more professional knowledge on new technologies with hands on experiences.


As part of training we provide the small bug to resolve the resources to gain experience on live code issues. And as part of the project will explain the code flow of end to end to get functional knowledge on the project.
<br><br>
<strong>For freshers :</strong><br>
It’s more useful to gain more practical knowledge before getting to software companies.

We will explain the end to end project and will show the live some of small bug in our application level to know the analysis of the real time steaming of large application.

As part of project will show the how to debugging and how to resolve the live issue.  </p>
             </div>
               </div>
                </div>
                
                <!--  Job consulting -->
                
                  <div class="bhoechie-tab-content">
                   <div class="panel">
               <div  class="panel-headder text-center">
               <span class="fa fa-handshake-o s-logo-l" > </span>
               <p style="font-size:30px"> <b>Job Consulting </b></p>
               </div>
               <div class="panel-body text-left">
               <div class="row-fluid text-center">
                
               </div>
             <p> <strong>NextGen4IT</strong> online training institute will provide the 5 multinational companies referrals, we are all complete their training in our institute.

                And will help the resources to handle the technical interview in companies wise. <br> <span style="padding-right: 60px"></span>  
                

We will give them chance to work with some kind of real time issues, who are all got cross trained as part of our institute, also will provide the interview questions for new cross trained skill and will explain the some projects and how to handle those in real time and how we need to start analysis if get any issue. 

                As part of course will explain the real time tool, which are currently using in real time with trained skill.
             </p>
             </div>
               </div>
                </div>
            </div>
        </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
    
    var activetabID ='${id}';
    if (activetabID != null && activetabID != "")
    	{
    	var setTab= "#"+activetabID;
    
    		$(setTab)[0].click();
    	//alert(setTab);
    	
//addClass("active");
    	
    	}
    
});
</script>

<style>

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
 /*  border:1px solid #ddd; */
  margin-top: 20px;
  margin-left: 01px;
/*  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); */
 /* box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #3BB9FF;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #3BB9FF;
  background-image: #3BB9FF;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #3BB9FF;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
</style>
